<h1>LogIn</h1>

{{#if message}}
  <div>{{message}}</div>
{{/if}}

<form method="post" action="/login">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
  </div>

  <div>
    <label for="username">Password</label>
    <input type="password" name="password" id="password">
  </div>

  <input type="submit">
</form>