<header class="header-bg">
  <a href="/" class="conthon"><span><img src="https://vignette.wikia.nocookie.net/uncyclopedia/images/6/67/Link.gif/revision/latest?cb=20090506153048" style="width: 50px;"></span>Con-A-Thon</a>
  <nav class="logs">
    <a href='/conventions/signup'>Signup</a>
  </nav>
  <p class="about" style="width: 600px;">Maximize Your Geek by Planning Out Your Cons!</p>
</header>

<div class="ten-container">
<h1>LogIn</h1>

{{!-- {{#if message}}
  <div>{{message}}</div>
{{/if}} --}}

<form method="post" action="/login">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
  </div>

  <div>
    <label for="username">Password</label>
    <input type="password" name="password" id="password">
  </div>

  <input type="submit">
</form>
</div>