<div class="displayed">
<header class="header-bg">
  <a href="/" class="conthon"><span><img src="https://vignette.wikia.nocookie.net/uncyclopedia/images/6/67/Link.gif/revision/latest?cb=20090506153048" style="width: 50px;"></span>Con-A-Thon</a>
  <nav class="logs">
    <a class="nav-links" href='/conventions/signup'>Signup</a>
  </nav>
  <p class="about" style="width: 600px;">Maximize Your Geek by Planning Out Your Cons!</p>
</header>

<div class="ten-container">
<h1>LogIn</h1>

{{#if message}}
  <div>{{message}}</div>
{{/if}}

<form class="plus" method="post" action="/conventions/login">
  <div>
    <label for="email">Email</label>
    <input class="join" type="text" name="email" id="email">
  </div>

  <div>
    <label for="password">Password</label>
    <input class="join pass" type="password" name="password" id="password">
  </div>

  <input class="btn buttons" type="submit">
</form>
</div>
</div>