<header class="header-bg">
  <a href="/" class="conthon"><span><img src="https://vignette.wikia.nocookie.net/uncyclopedia/images/6/67/Link.gif/revision/latest?cb=20090506153048" style="width: 50px;"></span>Con-A-Thon</a>
  <nav class="logs">
    <a href='/conventions/login'>Login</a>
  </nav>
  <p class="about">Maximize Your Geek by Planning Out Your Cons!</p>
</header>

<div class="ten-container">
<h1>Signup</h1>

{{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}

<form method="post" action="/conventions/signup">
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" type="text" name="username" id="username">
  </div>

  <div class="form-group">
    <label for="username">Password</label>
    <input class="form-control" type="password" name="password" id="password">
  </div>

  {{!-- <input class="btn btn-default" type="submit"> --}}
  <button disabled>Submit</button>
</form> 
</div>