.header-bg{
  background: #F85B1A;
  background-position: -10px;
  box-shadow: 0 10px 3px #072083;
  position: sticky;
  top:0;
}
header{
  padding: 10px 50px 5px 50px;
}
img {
  border-radius: 10px;
  padding-right: 3px;
}
.conthon {
  text-decoration: none;
  font-family: 'Coiny', cursive;
  font-size: 50px;
  margin: 0 auto;
  padding-bottom: -10px;
  width: 60%;
  height: 60px;
  text-align: left;
  float:left;
  color: white;
  text-shadow: 3px 2px #072083;
}
.conthon:hover {
  color:#072083;
  text-shadow: 3px 2px white;
}
.about {
  color: white;
  width: 600px;
}
.logs {
  text-align: right;
  float: right;
  height: 60px;
  width: 300px;
  padding-top: 25px;
  margin-right: 30px;
}
.logs a {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 18px;
  padding: 5px;
}
.nav-links:hover {
  color: #072083;
  font-size: 20px;
}

/* MAIN SECTION */
.line { 
  height:2px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 450, from(#072083), to(#ffffff));
}
.mini-line { 
  height:2px;
  background: -webkit-gradient(radial, 50% 50%, 0, 40% 50%, 150, from(#072083), to(#ffffff));
}
.displayed {
  background-image: url("comicbg.jpg");
  background-size: 800px;
  background-position: -50px 150px;
}
.ten-container {
  background: white;
  overflow: scroll;
  text-align: center;
  padding: 10px 5% 10px;
  margin: auto auto;
  z-index: -1;
  width: 800px;
}
.plus {
  padding: 0 5% 0 30%;
  height: 300px;
  text-align: left;
}
.join {
  width: 300px;
  padding: 20px 0 3px 0;
  margin-left: 12px;
  font-size: 20px;
  border: none;
  border-bottom: 1px #072083 solid;
  outline: none;
}
.pass {
  width: 270px;
}
.ten-header {
  font-size: 35px;
  margin-bottom: 10px;
  background: white;
  text-align: center;
}
.ten {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 800px;
}
.ten-list-header {
  margin-bottom: 5px;
}
ul {
  list-style-type: none;
  padding: 0 30px;
  width: 200px;
}
li {
  margin: 15px;
}
.profile {
  height: 78vh;
}

/* top ten list */
.cons-list {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.cons-list:hover {
  color: #F85B1A;
  font-size: 20px;
}
.my-con {
  background: white;
  background-position: -50px;
}

form p {
  text-align: left;
}
.input {
  float: right;
  padding: 0;
}
.buttons {
  border: 1px #072083 solid;
  background: #072083;
  color: white;
  height: 20px;
}
.btn {
  margin: 50px 25%;
  font-size: 20px;
  height: 35px;
}
.add {
  border: 1px #072083 solid;
  background: #072083;
  color: white;
  text-decoration: none;
  padding: 8px;
}
.update {
  float: right;
}
.delete {
  float: left;
}
form h4 {
  margin: 10px 0;
}
.my-cons-list {
  height: 400px;
}

/* POPUP STYLES */
.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 200px auto;
  padding: 20px;
  padding-bottom: 20px;
  background:#F85B1A;
  border-radius: 5px;
  width: 500px;
  position: static;
}
.my-con-edit {
  border:2px black solid;
  background: #F85B1A;
  margin-top: 25vh;
  margin-right: 45vh;
  border-radius: 0;
  height: 380px;
  width: 30%;
  float: right;
}
.text-box {
  width: 400px;
}
.popup .close {
  position: absolute;
  left: -150px;
  top: -200px;
  z-index: -1;
  height: 500%;
  width: 600%;
  border: 5px dotted green;
}
.content {
  margin: auto;
  height: 90%;
  width: 90%;
  border: 3px solid #072083;
  border-radius: 5px;
  padding: 10px;
  background: white;
}
.content li {
  margin: 5px;
}
.content li span {
  float: left;
  font-weight: bolder;
}
.content li span a {
  padding-top: 15px;
}
.x {
  font-size: 30px;
  margin-top: -20px;
  margin-right: -10px;
  text-decoration: none;
  font-weight: bolder;
  color: white;
  text-shadow: 3px 2px #072083;
  float: right;
}
.x:hover {
  color:#072083;
  text-shadow: 3px 2px white;
}
/* .helper-trigger,
.helper-show {
  display: none;
  width: 500px;
  margin-left: 95%;
  z-index: 1;
}

.helper-trigger[type="checkbox"]:checked + .helper-show {
  display: block;
}
.helper-trigger[type="checkbox"]:checked + .helper-show + .helper-hide {
  display: none;
} */


/* smaller screen */
@media screen and (max-width: 1240px) {
  .conthon {
    font-size: 40px;
    width: 70%;
    height: 45px;
  }
  .my-con-edit {
    margin-top: 200px;
    width: 45%;
  }
  .about {
    font-size: 15px;
  }
  .logs a {
    font-size: 15px;
  }
  .logs {
    margin-top: 25px;
    margin-right: 10px;
  }
  .ten-container {
    height: 550px;
  }
  li {
    margin: 10px;
  }
}