<h1>Hi {{this.username}}</h1>

{{!-- not working because router not 'faving' cons --}}
{{#each faveList}}
  <ul>
    <li>
      {{this.id}}
    </li>
  </ul>
{{/each}}

<a href="/conventions/new">Not interested in any of the conventions listed? Add your own!</a>
