<header class="header-bg">
  <a href="/" class="conthon"><span><img src="https://vignette.wikia.nocookie.net/uncyclopedia/images/6/67/Link.gif/revision/latest?cb=20090506153048" style="width: 50px;"></span>Con-A-Thon</a>
  <nav class="logs">
    {{!-- <a href='/conventions/signup' class="menu">Signup</a> --}}
    {{!-- <a href='/conventions/login' class="menu">Login</a>
    <a href='/conventions/logout' class="menu">Logout</a>--}}
    <a href='/conventions/index' class="menu">Profile</a> 
  </nav>
  <p class="about" style="width: 600px;">Maximize Your Geek by Planning Out Your Cons!</p>
</header>

<h1>Add in Your To-Go-To Convention</h1>

<form action="/Conventions" method="POST">
  <p>
    <label for="name">Name</label>
    <input type="text" name="name">
    <br/>
    <label for="date">Date</label>
    <input type="text" name="date">
    <br/>
    <label for="location">Location</label>
    <input type="text" name="location">
    <br/>
    <label for="url">URL</label>
    <input type="text" name="url">
    <br/>
    <label for="genre">Anime, Comic, or Gaming?</label>
    <input type="text" name="genre">
  </p>
  <input type="submit" value="Create">
</form>
