<header class="header-bg">
  <a href="/" class="conthon"><span><img src="https://vignette.wikia.nocookie.net/uncyclopedia/images/6/67/Link.gif/revision/latest?cb=20090506153048" style="width: 50px;"></span>Con-A-Thon</a>
  <nav class="logs">
    {{!-- <a href='/conventions/signup' class="menu">Signup</a> --}}
    {{!-- <a href='/conventions/login' class="menu">Login</a>
    <a href='/conventions/logout' class="menu">Logout</a>--}}
    <a href='/conventions/index' class="menu">Profile</a> 
  </nav>
  <p class="about" style="width: 600px;">Maximize Your Geek by Planning Out Your Cons!</p>
</header>

{{!-- <p class="fave">Add this Con to your Go List!</p> --}}
{{!-- <form method="GET" action="/convention/index">
  <label for="{{this.id}}">
    <input type="submit" value="FAVE">
  </label>
</form> --}}


{{!-- <a href="/conventions/edit/{{id}}">Edit</a> --}}